@(paperForm: Form[Paper], conference: String, topicoptions:Map[String, String])

@import helper._

@import b3.vertical.fieldConstructor

@main {
    
    <h1>Submit a paper</h1>
    <h3 style="color: blue;">Please submit your abstract using the form below. Note that all the fields are mandatory. After submission you will receive a password that will allow you to access your paper in the system, upload the file of your paper, and modify the metadata associated with this paper.</h3>
    
    @b3.form(routes.PaperController.save(conference)) {

            @b3.text(paperForm("title"), '_label -> "Title", '_help -> "")

        @b3.select(
            paperForm("topic"),
            options(topicoptions),
            '_label -> "Select", 'value -> "",
            '_showConstraints -> false
        )
            @b3.email(paperForm("contactemail"), '_label -> "Email of Contact Author", 'placeholder -> "example@mail.com")
       <br><br> @b3.email(paperForm("confirmemail"), '_label -> "Confirm Email", '_help -> "")


        <table class="myquestion zebra-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Affiliation</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
            <td>@b3.text(paperForm("firstname1"), '_label -> "First Name", '_help -> "")</td>
            <td>@b3.text(paperForm("lastname1"), '_label -> "Last Name", '_help -> "")</td>
            <td>@b3.text(paperForm("affilation1"), '_label -> "Affiliation", '_help -> "")</td>
            <td>@b3.email(paperForm("email1"), '_label -> "Email", '_help -> "")</td>
                </tr>

                <tr>
            <td>@b3.text(paperForm("firstname2"), '_label -> "First Name", '_help -> "")</td>
            <td>@b3.text(paperForm("lastname2"), '_label -> "Last Name", '_help -> "")</td>
            <td>@b3.text(paperForm("affilation2"), '_label -> "Affiliation", '_help -> "")</td>
            <td>@b3.email(paperForm("email2"), '_label -> "Email", '_help -> "")</td>
                </tr>

                <tr>
            <td>@b3.text(paperForm("firstname3"), '_label -> "First Name", '_help -> "")</td>
            <td>@b3.text(paperForm("lastname3"), '_label -> "Last Name", '_help -> "")</td>
            <td>@b3.text(paperForm("affilation3"), '_label -> "Affiliation", '_help -> "")</td>
            <td>@b3.email(paperForm("email3"), '_label -> "Email", '_help -> "")</td>

                <tr>
            <td>@b3.text(paperForm("firstname4"), '_label -> "First Name", '_help -> "")</td>
            <td>@b3.text(paperForm("lastname4"), '_label -> "Last Name", '_help -> "")</td>
            <td>@b3.text(paperForm("affilation4"), '_label -> "Affiliation", '_help -> "")</td>
            <td>@b3.email(paperForm("email4"), '_label -> "Email", '_help -> "")</td>
                </tr>

                <tr>
            <td>@b3.text(paperForm("firstname5"), '_label -> "First Name", '_help -> "")</td>
            <td>@b3.text(paperForm("lastname5"), '_label -> "Last Name", '_help -> "")</td>
            <td>@b3.text(paperForm("affilation5"), '_label -> "Affiliation", '_help -> "")</td>
            <td>@b3.email(paperForm("email5"), '_label -> "Email", '_help -> "")</td>
                </tr>

                <tr>
            <td>@b3.text(paperForm("firstname6"), '_label -> "First Name", '_help -> "")</td>
            <td>@b3.text(paperForm("lastname6"), '_label -> "Last Name", '_help -> "")</td>
            <td>@b3.text(paperForm("affilation6"), '_label -> "Affiliation", '_help -> "")</td>
            <td>@b3.email(paperForm("email6"), '_label -> "Email", '_help -> "")</td>
                </tr>

                <tr>
            <td>@b3.text(paperForm("firstname7"), '_label -> "First Name", '_help -> "")</td>
            <td>@b3.text(paperForm("lastname7"), '_label -> "Last Name", '_help -> "")</td>
            <td>@b3.text(paperForm("affilation7"), '_label -> "Affiliation", '_help -> "")</td>
            <td>@b3.email(paperForm("email7"), '_label -> "Email", '_help -> "")</td>
                </tr>

            </tbody>
        </table>

            @b3.text(paperForm("otherauthor"), '_label -> "Other authors", '_help -> "")
            @b3.radio( paperForm("candidate"), options = Seq("Y"->"Yes","N"->"No"), '_label -> "Best student paper award candidate", 'value -> "Y")
        <br><br><br><br>@b3.radio( paperForm("volunteer"), options = Seq("Y"->"Yes","N"->"No", "T"->"To be decided"), '_label -> "Student Volunteer?",'value -> "Y")
        <br><br><br>@b3.textarea(paperForm("paperabstract"), '_label -> "Abstract", 'rows -> 3)

        <div class="actions">
            <input type="submit" value="Submit this paper" class="btn primary"> or
            <a href="@routes.ShowPaperController.showMyPaper()" class="btn">Cancel</a>
        </div>
        
    }
    
}