@(cris:List[String], map:Map[String, String], qlist:List[String], try_options:List[List[String]])

@import helper._

@import b3.vertical.fieldConstructor

@main {


    @b3.form(routes.ReviewerController.updateReview()) {

        <fieldset>

        @for(index <- 0 until qlist.size){
            <h3>@qlist(index):</h3>

            @if(cris.contains(qlist(index))) {
                @if(!map.containsKey(qlist(index))) {

                    <select name="@qlist(index)">
                        <option value="strongaccept">Strong Accept</option>
                        <option value="accept">Accept</option>
                        <option value="weakaccept">Weak Accept</option>
                        <option value="neutral">Neutral</option>
                        <option value="weakreject">Weak Reject</option>
                        <option value="reject">Reject</option>
                        <option value="strongreject">Strong Reject</option>
                    </select>
                } else {
                    @if(map.get(qlist(index)).equals("strongaccept")) {

                        <select name="@qlist(index)">
                            <option value="strongaccept" selected="selected">Strong Accept</option>
                            <option value="accept">Accept</option>
                            <option value="weakaccept">Weak Accept</option>
                            <option value="neutral">Neutral</option>
                            <option value="weakreject">Weak Reject</option>
                            <option value="reject">Reject</option>
                            <option value="strongreject">Strong Reject</option>
                        </select>
                    }
                    @if(map.get(qlist(index)).equals("weakaccept")) {
                        <select name="@qlist(index)">
                            <option value="strongaccept">Strong Accept</option>
                            <option value="accept">Accept</option>
                            <option value="weakaccept" selected="selected">Weak Accept</option>
                            <option value="neutral">Neutral</option>
                            <option value="weakreject">Weak Reject</option>
                            <option value="reject">Reject</option>
                            <option value="strongreject">Strong Reject</option>
                        </select>
                    } @if(map.get(qlist(index)).equals("accept")) {

                        <select name="@qlist(index)">
                            <option value="strongaccept">Strong Accept</option>
                            <option value="accept" selected="selected">Accept</option>
                            <option value="weakaccept">Weak Accept</option>
                            <option value="neutral">Neutral</option>
                            <option value="weakreject">Weak Reject</option>
                            <option value="reject">Reject</option>
                            <option value="strongreject">Strong Reject</option>
                        </select>
                    } @if(map.get(qlist(index)).equals("neutral")) {

                        <select name="@qlist(index)">
                            <option value="strongaccept">Strong Accept</option>
                            <option value="accept">Accept</option>
                            <option value="weakaccept">Weak Accept</option>
                            <option value="neutral" selected="selected">Neutral</option>
                            <option value="weakreject">Weak Reject</option>
                            <option value="reject">Reject</option>
                            <option value="strongreject">Strong Reject</option>
                        </select>
                    } @if(map.get(qlist(index)).equals("weakreject")) {

                        <select name="@qlist(index)">
                            <option value="strongaccept">Strong Accept</option>
                            <option value="accept">Accept</option>
                            <option value="weakaccept">Weak Accept</option>
                            <option value="neutral">Neutral</option>
                            <option value="weakreject" selected="selected">Weak Reject</option>
                            <option value="reject">Reject</option>
                            <option value="strongreject">Strong Reject</option>
                        </select>
                    } @if(map.get(qlist(index)).equals("reject")) {

                        <select name="@qlist(index)">
                            <option value="strongaccept">Strong Accept</option>
                            <option value="accept">Accept</option>
                            <option value="weakaccept">Weak Accept</option>
                            <option value="neutral">Neutral</option>
                            <option value="weakreject">Weak Reject</option>
                            <option value="reject" selected="selected">Reject</option>
                            <option value="strongreject">Strong Reject</option>
                        </select>
                    } @if(map.get(qlist(index)).equals("strongreject")) {

                        <select name="@qlist(index)">
                            <option value="strongaccept">Strong Accept</option>
                            <option value="accept">Accept</option>
                            <option value="weakaccept">Weak Accept</option>
                            <option value="neutral">Neutral</option>
                            <option value="weakreject">Weak Reject</option>
                            <option value="reject">Reject</option>
                            <option value="strongreject" selected="selected">Strong Reject</option>
                        </select>
                    }
                }
            }   else{
                <select name="@qlist(index)">
                @if(!map.containsKey(qlist(index))) {
                    @for(j <- 0 until try_options(index - cris.size).size) {
                        <option value=@try_options(index - cris.size)(j)>@try_options(index - cris.size)(j)</option>
                    }
                } else{
                    @for(j <- 0 until try_options(index - cris.size).size) {
                        @if(map.get(qlist(index)).equals(try_options(index - cris.size)(j))) {
                            <option selected="selected" value=@try_options(index - cris.size)(j)>@try_options(index - cris.size)(j)</option>
                        }   else{
                            <option value=@try_options(index - cris.size)(j)>@try_options(index - cris.size)(j)</option>
                        }
                    }
                }
                </select>
            }


            <br>
        }

        </fieldset>

        <div class="actions">
            <input type="submit" value="Submit" class="btn primary">
        </div>
    }
}